# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
client/dist/
server/dist/

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Testing
coverage/
